@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");

body {
  color: #2f4f4f;
  background-color: #eee8aa;
  font-family: "Poppins", sans-serif;
  padding-top: 128px;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Smooth scrolling for back-to-top button and internal page links */
html,
body {
  scroll-behavior: smooth;
}

/* Navbar
=============================================*/
.navbar {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Navbar custom background colour */
.navbar-custom {
  background-color: #2f4f4f;
}

/* Navbar logo font */
.logo {
  font-family: "Mali", cursive;
  font-size: 110%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.logo-name {
  font-family: "Mali", cursive;
  font-size: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

/* Override Bootstrap navbar-light default colours for the nav-links */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ffffe0;
  border-bottom: 1px solid #ffffe0;
  width: fit-content;
}

.navbar-light .navbar-brand {
  color: #eee8aa;
}

.navbar-light .navbar-brand:hover {
  color: #eee8aa;
}

.navbar-light .navbar-nav .nav-link {
  color: #eee8aa;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffe0;
}

/* Override Bootsrap navbar-light navbar-toggler default colours and hover underscore*/
.navbar-light .navbar-toggler {
  border-color: #000;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 250, 0.25),
    rgb(209, 209, 209)
  );
}

.navbar-light .navbar-toggler:active {
  background: #ffffe0;
}

/* Hero image
=================================================== */
.jumbo-hero {
  background-color: #eee8aa;
  background: url("../img/hero/hero-bikes.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  margin-bottom: 0;
}

/* Main styling for headings and page text
=================================================== */
/* Headings */
.heading {
  font-family: "Mali", cursive;
  text-align: center;
  text-transform: uppercase;
  color: brown;
  font-size: 1.5em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Page breaks */
.page-break {
  border-top: 2px solid #2f4f4f;
  width: 33%;
}

/* Page text */
.page-text {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: auto;
  max-width: 820px;
  margin-top: 12px;
  color: #2f4f4f;
}

/* Colour the page-links in the 'about us' text to stand out */
.page-links {
  text-decoration: none;
  color: #000000;
}

.page-links,
a:hover {
  color: #000000;
}

/* Cards 
=================================================== */
.card {
  background-color: #eee8aa;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin-bottom: 20px;
}

.card-title {
  font-family: "Mali", cursive;
  text-transform: uppercase;
  font-size: 1.2em;
  color: #a52a2a;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  text-transform: none;
  color: #2f4f4f;
}

/* Carousel 
==================================================== */
.carousel-caption {
  position: absolute;
  background-color: rgba(238, 232, 170, 0.9);
  margin: auto;
  z-index: 20;
  bottom: 36px;
  border: 1px solid black;
  opacity: 0.95;
  border-radius: 4px;
  padding: 4px;
  max-width: fit-content;
}

.carousel-heading {
  font-family: "Mali", cursive;
  text-align: center;
  text-transform: uppercase;
  color: brown;
  font-size: 1.5em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.carousel-text {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: auto;
  max-width: fit-content;
  margin-top: 12px;
  opacity: 1;
  color: #2f4f4f;
}
/* Gallery 
================================================= */

.column {
  float: left;
  width: 25%;
  padding: 4px;
}

.gallery-row {
  margin: auto;
  width: 88%;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
  border-radius: 2% 2% 2% 2%;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
  max-width: 600px;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  background-color: #2f4f4f;
  bottom: 15px;
  left: 15px;
  color: #eee8aa;
  border: 1px solid black;
  border-radius: 2% 2% 2% 2%;
  font-size: 20px;
  padding: 0 4px 0 4px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

/* Back-to-top button styling
================================================== */
#back-top-btn {
  margin-top: 20px;
  cursor: pointer;
  font-size: 2em;
}

/* Back-to-top button hover colour */
#back-top-btn:hover {
  color: #000;
}

/* Back-to-top button text */
.back-top-p {
  text-transform: uppercase;
  color: #2f4f4f;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

/* Map styling 
================================================= */
/* Size the map and apply box-shadow */
#googleMap {
  width: 85vw;
  height: 48vh;
  margin: 12px auto;
  border: 1px solid #000000;
  border-radius: 2% 2% 2% 2%;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

/* Map legend */
#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  background-color: lightgray;
  padding: 4px;
  margin: 4px;
  border: 1px solid #000000;
  border-radius: 2% 2% 2% 2%;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

#legend img {
  vertical-align: middle;
}

/* Route planner styling
====================================================== */
/* Form inputs placeholder text */
.form-group {
  margin-bottom: 0;
}
#from {
  font-size: 0.8em;
}

#to {
  font-size: 0.8em;
}

input#waypoint-inputs {
  margin-bottom: 2px;
}
button.add_form_field {
  font-size: 0.8em;
  margin-bottom: 2px;
}

.waypoint-inputs {
  font-size: 0.8em;
}

/* Delete waypoint icon colour */
i.fas.fa-times {
  color: #8b0000;
}

/* Alert box containing the route details */
.alert-info {
  font-family: "Roboto", "sans-serif";
  margin: auto;
  max-width: fit-content;
  text-align: left;
  font-size: 1em;
  color: #000000;
  background-color: #ffffe0;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 2px;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

/* Route error message alert box */
.alert-danger {
  font-family: "Roboto", "sans-serif";
  margin: auto;
  max-width: fit-content;
  text-align: left;
  font-size: 1em;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 2px;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

/* Directions panel styling */
#directions-panel {
  background-color: #ffffe0;
  margin: auto;
  max-width: 66vw;
  max-height: 33vh;
  overflow: auto;
  border-radius: 2px;
}

div.warnbox-content {
  display: none;
}

.warnbox-c1 {
  display: none;
}

.warnbox-c2 {
  display: none;
}

button.btn.btn-info.btn-sm {
  min-width: fit-content;
  margin-bottom: 4px;
}

button.btn.btn-danger.btn-sm {
  min-width: fit-content;
  margin-bottom: 4px;
}

button.btn.btn-info.btn-sm.preset-route-button {
  min-width: 204px;
  margin-bottom: 4px;
}

/* Route planner buttons stying */
.btn-success {
  margin-top: 4px;
  border: 1px solid #000000;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: #0e1e251f 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

.btn-info {
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: #0e1e251f 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  border: 1px solid #000000;
}

.btn-danger {
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: #0e1e251f 0 2px 4px 0, rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  border: 1px solid #000000;
}

/* Store locator styling
========================================================== */
/* Styling for place details */
.hero {
  width: 100%;
  height: auto;
  max-height: 166px;
  display: block;
}

.place,
p {
  font-family: "open sans", arial, sans-serif;
  padding-left: 18px;
  padding-right: 18px;
  text-transform: inherit;
}

.details {
  color: #2f4f4f;
}

a {
  text-decoration: none;
  color: lightseagreen;
}

/* Footer social link icon colours
======================================================= */

.whatsapp-icon {
  color: #25d366;
  font-size: 1.2em;
}

.facebook-icon {
  color: #4267b2;
  font-size: 1.2em;
}

.pinterest-icon {
  color: #e60023;
  font-size: 1.2em;
}

.instagram-icon {
  color: #8a3ab9;
  font-size: 1.2em;
}

/* Footer text 
========================================================= */
h6.footer-heading {
  font-family: "Mali", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

p.footer-text {
  font-family: "Mali", cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* Contact form styling
=================================================== */
/* Forms */
.enquiries-heading {
  font-size: 150%;
  margin-top: 24px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.form-control {
  margin-bottom: 2px;
  border-color: #000;
  background-color: #efefef;
  letter-spacing: 1px;
  border-radius: 2% 2% 2% 2%;
  -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  -moz-box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0,
    rgba(14, 30, 37, 0.32) 0 2px 16px 0;
}

/* Form Modal */
.modal-content {
  background-color: #daedf3;
  border: solid 1px #000;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.contact-heading {
  margin-top: 25px;
  margin-bottom: 20px;
  color: #000;
  letter-spacing: 2px;
}

.center-form {
  padding-top: 10px;
  margin: 0 auto;
  max-width: 67%;
}

/* Media Queries
=========================================================== */

/* Reduce the map width on large screens */
@media screen and (min-width: 768px) {
  #googleMap {
    max-width: 744px;
  }
}

/*Reduce the size of the carousel caption on small screens */
@media screen and (max-width: 300px) {
  .carousel-heading {
    font-size: 0.8em;
  }
  .carousel-text {
    font-size: 0.6em;
  }
}
