@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

body {
    color: darkslategrey;
    background-color: palegoldenrod;
    font-family: "Poppins", sans-serif;
    padding-top: 128px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-custom {
    background-color: #2f4f4f;
}

/* Navbar Brand and Link Colours */
.logo {
    font-family: 'Mali', cursive;
    font-size: 110%;
}

.logo-name {
    font-family: 'Mali', cursive;
    font-size: 100%;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: cadetblue;
}

.navbar-light .navbar-brand {
    color: #eee8aa;
}

.navbar-light .navbar-nav .nav-link {
    color: #eee8aa;
}

/* Navbar Toggler Colours and Hover Underscore*/
.navbar-light .navbar-toggler {
    border-color: #000;
    background: linear-gradient(to bottom right, rgba(255, 255, 250, 0.25), rgb(209, 209, 209));
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

.navbar-light .navbar-toggler:active {
    background: #dda5a1;
}


/* Push the content below the navbar */
#content {
    margin-top: 140px;
}

/* Position and size the hero image */
.jumbo-hero {
    background-color: #fff;
    background: url("../img/photos/hero-bikes.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
}

.heading {
    font-family: 'Mali', cursive;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

.heading ul {
    text-align: left;
    font-size: 0.8em;
}

#about-us-text {
    margin-top: 36px;
    font-weight: 300;
    color: darkslategrey;
    letter-spacing: 1px;
}

.card {
    background-color: palegoldenrod;
    -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-bottom: 20px;
}

.card-title {
    font-family: 'Mali', cursive;
    text-transform: uppercase;
    font-size: 1.2em;
}

/* font-size of each card paragraph */
.card-text {
    font-size: 1em;
    text-transform: capitalize;
    color: #2f4f4f;
}

/* Form placeholder text */
#from {
    font-size: 0.8em;
}

#to {
    font-size: 0.8em;
}

/* Style the map */
#googleMap {
    width: 85vw;
    height: 50vh;
    margin: 12px auto;
    border: 1px solid black;
    border-radius: 2% 2% 2% 2%;
    -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.alert-info {
    margin: auto;
    max-width: fit-content;
    text-align: center;
    font-size: 0.8em;
    background-color: #efefef;
    -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* Styling for place details */
.hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
}

.place,
p {
    font-family: 'open sans', arial, sans-serif;
    padding-left: 18px;
    padding-right: 18px;
    text-transform: inherit;
}

.details {
    color: #2f4f4f;
}

a {
    text-decoration: none;
    color: #5f9ea0;
}

/* Footer Social Links */
.social-links {
    margin-top: 24px;
    font-size: 240%;
    text-align: center;
}

.linkedin-icon {
    margin-right: 72px;
    color: #0e76a8;
}

.youtube-icon {
    margin-left: 72px;
    color: #ff0000;
}

/* Forms */
.enquiries-heading {
    font-size: 150%;
    margin-top: 24px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form-control {
    margin-bottom: 2px;
    border-color: #000;
    background-color: #efefef;
    letter-spacing: 1px;
    border-radius: 2% 2% 2% 2%;
    -webkit-box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.48) 0px 2px 16px 0px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.48) 0px 2px 16px 0px;
}

/* Form Modal */
.modal-content {
    background-color: #daedf3;
    border: solid 1px #000;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}

.contact-heading {
    margin-top: 25px;
    margin-bottom: 20px;
    color: #000;
    letter-spacing: 2px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 67%;
}

/* Reduce the map width on larger screens */
@media screen and (min-width: 630px) {
    #googleMap {
        max-width: 600px;
    }
}